.form-divider {
    border: none; 
    height: 1px; 
    background: linear-gradient(to right, rgba(0, 123, 255, 0) 0%, rgb(255, 255, 255) 50%, rgba(0, 123, 255, 0) 100%); /* Gradient effect */
    margin: 0;
    margin-bottom: 30px; 
    width: 100%; 
}

#subscriptions-table {
    border-collapse: collapse; 
    width: 100%; 
    background: transparent; 
    color: beige; 
}

#subscriptions-table th, 
#subscriptions-table td {
    border: none;
    padding: 8px; 
    text-align: left; 
    background: transparent; 
    position: relative; 
    transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; 
}

#subscriptions-table th {
    background: transparent; 
    font-weight: bold; 
}


#subscriptions-table tbody tr:hover td,
#subscriptions-table tbody tr:hover th {
    border: 1px solid white; 
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5); 
    background-color: rgba(0, 123, 255, 0.1); 
}


#subscriptions-table td,
#subscriptions-table th {
    position: relative;
    padding: 8px;
    overflow: hidden;
}


#subscriptions-table tbody tr:nth-child(even) {
    background-color: transparent; 
}